# Private key of the deployer account
PRIVATE_KEY=your_private_key_here

# Arc Testnet RPC URL
ARC_TESTNET_RPC_URL=https://rpc.testnet.arc-node.thecanteenapp.com/v1/swrm_942664dda0a74327f404688c068007440be2558908799696db0eb3e364d1ca12
